html {
    background-color: rgb(120, 194, 120);
    color: rgb(0, 70, 0);
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    text-align: center;
}

img.recipe {
    height: auto;
    width: 500px;
}

ul,
ol {
    padding-left: 0;
}

ul.ingredients {
    list-style-position: outside;
}

ol.steps {
    list-style-position: inside;
}

.ingredients.nested {
    display: inline;
}